<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="chinese" class="ValueInjection.impl.Chinese">
        <property name="axe" ref="steeAxe"/>
    </bean>

    <bean id="chineseStruct" class="StructInjection.impl.Chinese">
        <constructor-arg ref="steeAxe"/>


    </bean>

    <bean id="stoneAxe" class="ValueInjection.impl.StoneAxe"/>

    <bean id="steeAxe" class="ValueInjection.impl.SteeAxe"/>
</beans>